.cart_anchor{
    float:right;
    vertical-align:top;
    background: url('../img/iconocarro.png') no-repeat center center / 100% auto;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
}
